$bgColor:#222222;
$accent:#adebb3;
$transparent:rgba(255, 0, 0, 0);
$textCol:#e6e6e6;

:root{
    --color:$accent;
}
#colorButton{
    background-color: $accent;
    width: 3.5em;
    height: 3.5em;
    border-radius: 100%;
    cursor: pointer;
    z-index: 7;
    position: fixed;
    right: 0;
    margin-top: 1em;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .36s;
}

#colorButton img{
    width: 2em;
    height: 2em;
    transition: .36s;
}

#colorButton:hover{
    width: 4em;
    height: 4em;
}

#colorButton:hover img{
    width: 3em;
    height: 3em;
}

#colorButtonPanel{
    display: flex;
    width: 23em;
    height: 13em;
    background-color:$bgColor;
    color: white;
    border-radius: 25px;
    opacity: 0;
    transition: opacity .36s ease-in-out;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-width: .2em;
    border-style: solid;
    border-color: $accent;
}

.fadeIn{
    opacity: 1 !important;
}

#colorButtonPanel p{
    color: $textCol;
    font-size: 2em;
    user-select: none;
    margin-bottom: -.1em;
}
#colorButtonPanel input{
    border:none;
    transition: 0.2s;
    border-radius: 25px;
    font-size: 1.5em;
    width: 5em;
}
#colorButtonPanel input:hover{
    transform: scale(1.05)
}
#colorButtonPanel input:focus{
    transform: scale(1.05);
}
#colorButtonPanel div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1em;
}
#colorButtonPanel #botao{
    color: $textCol;
}
#colorButtonPanel #botao:hover{
    color: $bgColor;
}
